.project-bg {
  background-image: url(../../assets/images/img-projet/image1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-bg1 {
  background-image: url(../../assets/images/img-projet/image7.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-bg2 {
  background-image: url(../../assets/images/img-projet/image18.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
