.filiale-hero {
  background: url(../../assets/images/location-symbol-with-landscape-background_result.webp);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
}

.filiale-layer {
  background: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}