.about-hero {
  background: url(../../assets/images/engineer.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
} 

.about-layer {
  background: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}