@font-face {
  font-family: "Helvetica-Neue";
  src: url("../../assets/fonts/HelveticaNeueMedium.otf");
}

h3 {
  font-family: "Helvetica-Neue";
}

#testimoinials {
  background-image: url(../../assets/images/scene-construction-site-with-equipment.webp);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  /* z-index: -3; */
  background-size: cover;
}

#clip-testimoinial {
  clip-path: polygon(0 6%, 100% 6%, 100% 76%, 100% 88%, 93% 76%, 0% 75%);
}

#testimoinials .layer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: hsla(226, 71%, 40%, 0.308);
  position: absolute;
  pointer-events: none;
}
